{% extends 'auth.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-social/bootstrap-social.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <div class="login-brand">
            <img src="{% static 'img/stisla-fill.svg' %}" alt="logo" width="100" class="shadow-light rounded-circle">
        </div>

        <div class="card card-primary">
            <div class="card-header">
                <h4>Login</h4>
            </div>

            <div class="card-body">
                {% include "alert/message.html" %}
                <form method="POST" action="#" class="needs-validation" novalidate="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        {{form.username}}
                        <div class="invalid-feedback">
                            Please fill in your username
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-block">
                            <label for="password" class="control-label">Password</label>
                        <div class="float-right">
                            <a href="auth-forgot-password.html" class="text-small">
                            Forgot Password?
                            </a>
                        </div>
                        </div>
                        {{form.password}}
                        <div class="invalid-feedback">
                        please fill in your password
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                        <label class="custom-control-label" for="remember-me">Remember Me</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                            Login
                        </button>
                    </div>
                </form>
                <div class="text-center mt-4 mb-3">
                    <div class="text-job text-muted">Login With Social</div>
                </div>
                <div class="row sm-gutters">
                    <div class="col-6">
                        <a class="btn btn-block btn-social btn-facebook">
                        <span class="fab fa-facebook"></span> Facebook
                        </a>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-block btn-social btn-twitter">
                        <span class="fab fa-twitter"></span> Twitter
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5 text-muted text-center">
            {% comment %} Belum punya akun? <a href="{% url 'guest' %}"> Login as Guest | </a> <a href="{% url 'register' %}"> Daftar </a> {% endcomment %}
        </div>
        <div class="simple-footer">
            Copyright &copy; Stisla 2018
        </div>
    </div>
</div>
{% endblock %}