{% load static %}
<div class="navbar-bg"></div>
  <nav class="navbar navbar-expand-lg main-navbar">
    <form class="form-inline mr-auto">
      <ul class="navbar-nav mr-3">
        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
      </ul>
    </form>
    <ul class="navbar-nav navbar-right">
      <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img alt="image" src="{% static 'img/avatar/avatar-1.png' %}" class="rounded-circle mr-1">
        <div class="d-sm-none d-lg-inline-block">Hi, {{ user.username }}</div></a>
        <div class="dropdown-menu dropdown-menu-right">
          {% comment %} <div class="dropdown-title">Logged in 5 min ago</div> {% endcomment %}
          {% comment %} <a href="{% url 'profile' %}" class="dropdown-item has-icon">
            <i class="far fa-user"></i> Profile
          </a> {% endcomment %}
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item has-icon text-danger">
            <i class="fas fa-sign-out-alt"></i> Keluar
          </a>
        </div>
      </li>
    </ul>
  </nav>