<div class="main-sidebar">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index.html">Hotel Bintang</a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html">WS</a>
      </div>
      <ul class="sidebar-menu">
        {% comment %} <li class="menu-header">Dashboard</li> {% endcomment %}
          {% comment %} <li class="{% if active == 'index' %} active {% endif %}">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="fas fa-fire"></i> 
              <span>Dashboard</span>
            </a>
          </li>
          <li class="menu-header">Kamar Hotel</li>
          <li class="{% if active == 'kamar' %} active {% endif %}">
            <a class="nav-link" href="{% url 'kamar' %}">
              <i class="fas fa-route"></i> 
              <span>Kamar</span>
            </a>
          </li> {% endcomment %}
          <li class="{% if active == 'chat' %} active {% endif %}">
            <a class="nav-link" href="{% url 'chat' %}">
              <i class="fas fa-comments"></i> 
              <span>Chat Bot</span>
            </a>
          </li>
          {% comment %} <li class="menu-header">Pengaturan</li> {% endcomment %}
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Components</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="components-article.html">Article</a></li>
              <li><a class="nav-link beep beep-sidebar" href="components-avatar.html">Avatar</a></li>
              <li><a class="nav-link" href="components-chat-box.html">Chat Box</a></li>
              <li><a class="nav-link beep beep-sidebar" href="components-empty-state.html">Empty State</a></li>
              <li><a class="nav-link" href="components-gallery.html">Gallery</a></li>
              <li><a class="nav-link beep beep-sidebar" href="components-hero.html">Hero</a></li>
              <li><a class="nav-link" href="components-multiple-upload.html">Multiple Upload</a></li>
              <li><a class="nav-link beep beep-sidebar" href="components-pricing.html">Pricing</a></li>
              <li><a class="nav-link" href="components-statistic.html">Statistic</a></li>
              <li><a class="nav-link" href="components-tab.html">Tab</a></li>
              <li><a class="nav-link" href="components-table.html">Table</a></li>
              <li><a class="nav-link" href="components-user.html">User</a></li>
              <li><a class="nav-link beep beep-sidebar" href="components-wizard.html">Wizard</a></li>
            </ul>
          </li> -->
        </ul>
    </aside>
  </div>