{% extends 'basic.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% include "alert/message.html" %}
        <div class="card">
            <div class="card-header">
                <h4>Tambah {{title}}</h4>
                <div class="card-header-action">
                    <a href="{% url 'kamar' %}" class="btn btn-danger">Kembali </a>
                </div>
            </div>
            <div class="card-body">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            {{ form_detail.kamar.errors }}
                            {{ form_detail.kamar|as_crispy_field }}
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_booking.tanggal.errors }}
                                {{ form_booking.tanggal|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                {{ form_booking.total.errors }}
                                {{ form_booking.total|as_crispy_field }}
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_detail.fasilitas.errors }}
                        {{ form_detail.fasilitas|as_crispy_field }}
                    </div>
                    <input type="submit" class="btn btn-primary float-right" value="Tambah Booking">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#id_kamar').change(function() {
        var target = $(this).val(); 
        var url = "/ajax/get-harga-kamar/"+target
        console.log(url, target)
        
        $.get(url, function(data) {
            var harga = document.getElementById('id_total');
            var fasilitas = document.getElementById('id_fasilitas');

            harga.value = data.tarif;
            fasilitas.value = data.fasilitas;
        });
    });
</script>
{% endblock %}