{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-12 col-lg-12">
        <div class="card chat-box card-success" id="mychatbox2">
            <div class="card-header">
            <h4>
                <i class="fas fa-circle text-success mr-2" title="Online" data-toggle="tooltip">
                </i> Chat with Bot</h4>
            </div>
            <div class="card-body chat-content"></div>
            <div class="card-footer chat-form">
                <form id="chat-form2" method="POST">
                    {% csrf_token %}
                    {{ form_booking }}
                    <input type="text" class="form-control" name="pesan" id="input-pesan" placeholder="Type a message">
                    <button class="btn btn-primary">
                        <i class="far fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    {% comment %} <script src="{% static 'js/page/components-chat-box.js' %}"></script> {% endcomment %}
    <script>

        $(document).ready(function(){
            {% comment %} getTemplate(); {% endcomment %}
        })

        $(document).on('submit', '#chat-form2', function(e){
            e.preventDefault();
            var nama = '{{ user.username }}';
            var text = $('#input-pesan').val();

            if(text.length > 0){
                $.ajax({
                    type: 'POST',
                    url: "{% url 'kirimPesan' %}",
                    data: {
                        nama: nama,
                        text: text,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function(data){
                        console.log('YES')
                        printUser(data.pesan)
                        printBot(data.respon)
                        $('#input-pesan').val('')
                    },
                    error: function(xhr, textStatus){
                        console.log('NO');
                        {% comment %} console.log(xhr); {% endcomment %}
                    }
                });
            } else {
                alert('Pesan tidak boleh kosong');
            }
        })

        function getResponse(){
            $.ajax({
                type: "GET",
                url: "{% url 'getResponSystem' %}",
                success: function(data){
                    console.log('YES');
                    printBot(data);
                },
                error: function(xhr, textStatus){
                    console.log('NO');
                }
            })
        }

        {% comment %} function getTemplate(){
            $.ajax({
                type: 'GET',
                url: "{% url 'templateChat' %}",
                success: function(data){
                    console.log('YES');
                    printBot(data.pesan, 'template');
                },
                error: function(xhr, textStatus){
                    console.log('NO');
                }
            })
        } {% endcomment %}
        
        function printBot(data, type){
            if(type == 'template') {
                for (pesan in data) {
                    $.chatCtrl('#mychatbox2', {
                        text: data[pesan].text,
                        picture: "{% static 'img/avatar/avatar-5.png' %}",
                        position: 'chat-left'
                    });
                }
            } else {
                var text = $('#input-pesan').val();
                $.chatCtrl('#mychatbox2', {
                    text: data,
                    picture: "{% static 'img/avatar/avatar-5.png' %}",
                    position: 'chat-left'
                });
            }
        }
        
        function printUser(data){
            $.chatCtrl('#mychatbox2', {
                text: data,
                picture: "{% static 'img/avatar/avatar-2.png' %}",
                position: 'chat-right'
            });
        }

    </script>
{% endblock %}