{% extends 'basic.html' %}
{% load static %}

{% block css %}

{% endblock css %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 gallery-more" src="{% static 'img/Hotel-Bintang.jpg' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Hotel dan Resto Bintang</h5>
                  <p>Hotel Bintang adalah hotel dan restoran Bintang Situbondo, hotel Situbondo yang terletak di jalan raya Banyuglugur RT 01 RW 02 kecamatan Banyuglugur, kabupaten Situbondo, Indonesia dengan kode pos 68351. Kelas kamar hotel Bintang Situbondo yakni kamar standar dan kamar superior. Sedangkan harga per kamar mulai dari Rp. 260.000 per malam.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 gallery-more" src="{% static 'img/unsplash/andre-benz-1214056-unsplash.jpg' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Hotel dan Resto Bintang</h5>
                  <p>Hotel Bintang adalah hotel dan restoran Bintang Situbondo, hotel Situbondo yang terletak di jalan raya Banyuglugur RT 01 RW 02 kecamatan Banyuglugur, kabupaten Situbondo, Indonesia dengan kode pos 68351. Kelas kamar hotel Bintang Situbondo yakni kamar standar dan kamar superior. Sedangkan harga per kamar mulai dari Rp. 260.000 per malam.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 gallery-more" src="{% static 'img/Hotel-Bintang.jpg' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Hotel dan Resto Bintang</h5>
                  <p>Hotel Bintang adalah hotel dan restoran Bintang Situbondo, hotel Situbondo yang terletak di jalan raya Banyuglugur RT 01 RW 02 kecamatan Banyuglugur, kabupaten Situbondo, Indonesia dengan kode pos 68351. Kelas kamar hotel Bintang Situbondo yakni kamar standar dan kamar superior. Sedangkan harga per kamar mulai dari Rp. 260.000 per malam.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

