{% extends 'landing.html' %}
{% load static %}
{% block content %}
<div class='row'>
    <div class='col-md-7'>
        <div class="card">
            <div class="card-body">
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="gallery gallery-md">
                            <div class="gallery-item" data-image="{% static 'img/1.jpg' %}" data-title="Image 1"></div>
                            <div class="gallery-item" data-image="{% static 'img/2.jpg' %}" data-title="Image 2"></div>
                            <div class="gallery-item" data-image="{% static 'img/3.jpg' %}" data-title="Image 3"></div>
                            <div class="gallery-item" data-image="{% static 'img/4.jpg' %}" data-title="Image 4"></div>
                            {% comment %} <div class="gallery-item gallery-more" data-image="{% static 'img/1.jpg' %}" data-title="Image 12">
                              <div>+2</div>
                            </div>
                            <div class="gallery-item gallery-hide" data-image="{% static 'img/1.jpg' %}" data-title="Image 9"></div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <p style='font-size: 25px;'><b>Nama : </b>Hotel Bintang</p>
                        <p style='font-size: 25px;'><b>Alamat : </b>Banyuglugur Kabupaten Situbondo Jawa Timur 68359 Indonesia</p>
                        <p style='font-size: 25px;'><b>Vicnity : </b>Banyuglugur</p>
                        <p style='font-size: 25px;'><b>Place Type : </b>Lodging, point_of_interest, establishment</p>
                        <p style='font-size: 25px;'>Hotel Bintang merupakan salah satu rest area di jalur pantura yang dapat menjadi pilihan untuk beristirahat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="justify-content-center">
            <h2>Selamat datang di Aplikasi Hotel Bintang </h2>
            <h2>Landing Page</h2>
        </div>
        <div class="d-flex justify-content-center">
            {% comment %} <a href="{% url 'login' %}" class="btn btn-lg btn-primary" style="margin: 15px;">Login</a> {% endcomment %}
            <a href="{% url 'guest' %}" class="btn btn-lg btn-primary" style="margin: 15px;">Live Chat</a>
        </div>
    </div>
</div>
{% endblock %}
