{% extends 'basic.html' %}
{% load static %}

{% block content %}
{% include "alert/message.html" %}
<div class="card">
    <div class="card-header">
        <h4>Daftar {{title}}</h4>
        <div class="card-header-action">
            <a href="{% url 'booking' %}" class="btn btn-primary">Booking Kamar</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="table-kamar">
                <thead>
                    <th>#</th>
                    <th>Nama Kamar</th>
                    {% comment %} <th>Harga</th> {% endcomment %}
                    {% comment %} <th>Fasilitas</th> {% endcomment %}
                </thead>
                <tbody>
                    {% for w in wisata %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ w.nama }}</td>
                        {% comment %} <td>Rp. {{ w.tarif }}</td> {% endcomment %}
                        {% comment %} <td>{{ w.fasilitas.fasilitas }}</td> {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#table-kamar').DataTable();
    });
</script>
{% endblock %}