{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="section-title">Hi, {{ user.username }}</h2>

<div class='row'>
    <div class="col-12">
        {% include "alert/message.html" %}
    </div>
</div>

<div class="row mt-sm-4">
    <div class="col-12 col-md-12 col-lg-5">
        <div class="card profile-widget">
        <div class="profile-widget-header">
            <img alt="image" src="{% static 'img/avatar/avatar-1.png' %}" class="rounded-circle profile-widget-picture">
        </div>
        <div class="profile-widget-description">
            <div class="profile-widget-name"> 
                {% if user.first_name == '' and user.last_name == '' %} 
                {{ user.username }} 
                {% else %}  
                {{ user.first_name }} {{ user.last_name }}
                {% endif %} <div class="text-muted d-inline font-weight-normal"><div class="slash"></div> Pengguna</div></div>
        </div>
    </div>
</div>
{% comment %} <div class='row'> {% endcomment %}
    <div class="col-12 col-md-12 col-lg-7">
        <div class="card">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="card-header">
                    <h4>Edit Profile</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12">
                            {{ profileForm.username.errors }}
                            {{ profileForm.username|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-12">
                            {{ profileForm.first_name.errors }}
                            {{ profileForm.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 col-12">
                            {{ profileForm.last_name.errors }}
                            {{ profileForm.last_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ profileForm.email.errors }}
                            {{ profileForm.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            {{ profileForm.password.errors }}
                            {{ profileForm.password|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" type='submit'>Simpan Data</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% comment %} </div> {% endcomment %}



{% endblock %}